<div class="container">
  <header>
    <div>
      <img src="../assets/icons/shopping-basket.svg" alt="">
      <h1>Lista de compras</h1>
    </div>
    <p>
      Organize suas compras com facilidade.
    </p>
  </header>

  <main>
    <app-add-new-item (newItem)="addNewItem($event)"></app-add-new-item>

    <div class="shopping-list-container">
      @for (item of items; track item.itemName) {
        <app-shopping-list-item
          [itemName]="item.itemName"
          [isBought]="item.isBought"
        ></app-shopping-list-item>
      }
    </div>
  </main>
    
</div>

<router-outlet />
