:root {
    --primary-color: #090E1E;
    --secondary-color: #3C58ED;
    --tertiary-color: #0F1430;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}